@model IEnumerable<OdeToFood.Models.Restaurant>

<html>
    <head>
        <title></title>
    </head>
<body>
    <table>
           @foreach(var restaurant in Model)
           {
           <tr>
                <td>@restaurant.Id</td>
                <td>@restaurant.Name</td>
           </tr>
           } 
    </table>
</body>
</html>
